.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(160px, 7fr) minmax(20px, 3fr);
    padding: 20px 24px;
    align-items: center;
    justify-content: space-between;
    .img {
        width: 100%;
        height: 100%;
        max-width: 86px;
        max-height: 56px;
        object-fit: contain !important;
        aspect-ratio: 16/9;
    }
}
