@import "@styles/variables.scss";

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: fadeIn 0.3s ease-in;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderImage {
    object-fit: contain;
}

.loaderMessage {
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
