@import "@styles/variables.scss";

.digitalRecordModal {
    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-height: 90vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &__goBackBtn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 600;
        font-family: inherit;
        border-radius: 8px;
        transition: all 0.1s ease-in-out;
        width: fit-content;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (max-height: 910px) {
    .digitalRecordModal {
        .ant-modal-body {
            max-height: 650px;
            overflow-y: auto;
            scrollbar-width: none;
        }
    }
}

@media screen and (max-height: 820px) {
    .digitalRecordModal {
        .ant-modal-body {
            max-height: 500px;
        }
    }
}
