@import "@styles/variables.scss";

.mainClientsTable {
    width: 100%;
    background-color: $white;
    padding-bottom: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    .table-container {
        flex-grow: 1;
        overflow: auto;

        .ant-table-wrapper {
            height: 100%;

            .ant-table-container {
                height: 100%;
            }
        }
    }

    .ant-table-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nameColumn {
        position: relative;
    }

    .linkName {
        color: #0085ff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mainClientsTable_header {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .statusContainerInactive {
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        width: auto;
        border: 1px solid $pending;
    }

    .statusContainerActive {
        padding: 0.25rem 0.4rem;
        border-radius: 1rem;
        width: auto;
        border: 1px solid $active;
    }

    .statusActive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $active;
    }

    .statusInactive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $pending;
    }

    .inputSearch {
        &::placeholder {
            color: black !important;
        }
    }
}

.tooltipHistoricEvents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $black;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 15px 8px;

    &__event {
        width: fit-content;
        &__title {
            font-weight: 500;
            height: 8px;
        }

        &__time {
            font-weight: 400;
            color: $gray;
        }

        &__content {
            font-weight: 300;
            line-height: 1.1;
            min-width: 290px;
            max-width: 400px;
        }
    }

    &__icon {
        position: absolute;
        right: 0;
    }
}

.ant-tooltip-content {
    width: fit-content;
}
