.inputBox {
    flex: 1;
    cursor: text;
    padding: 0.75rem;
    display: flex;
    column-gap: 12px;
    color: rgb(var(--foreground));
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    align-items: center;
    background-color: rgb(var(--secondary));
    max-width: 100%;

    .icon {
        font-size: 20px;
        font-weight: bold;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        background-color: transparent;

        &::placeholder {
            color: rgb(var(--foreground) / 0.47);
        }
    }

    .clearButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        color: rgb(var(--foreground) / 0.47);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: rgb(var(--foreground));
        }
    }
}

.bordered {
    border: 1px solid rgb(var(--border));
}
