@import "@styles/variables.scss";

.form-grid {
  display: grid;
  gap: 20px;
  width: 100%;

  // Mobile (1 column)
  grid-template-columns: 1fr;

  // Tablet (2 columns)
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Small desktop (3 columns)
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // Large desktop (4 columns)
  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.selectInputMultiple {
    width: 100%;
    margin-bottom: 0.2rem;
    background-color: var(--background);
    padding: 0.45rem !important;
    border-radius: 0.25rem;
    border-bottom: none;
    height: 3rem;

    span {
        font-size: 1rem;
    }

    div {
        .ant-select-selection-placeholder {
            color: var(--dark-gray);
        }
    }
}

.selectInputMultipleError {
    width: 100%;
    border: 1px dashed red;
    height: 3rem !important;
    margin-bottom: 0.2rem;
    background-color: var(--background);
    padding: 0.45rem;
    border-radius: 0.25rem;
    font-weight: 300;

    .ant-select-selector {
        .ant-select-selection-placeholder {
            color: var(--dark-gray);
            font-size: 1rem;
        }
    }
}
