@import "@/styles/variables.scss";

.cartButton {
    background-color: $background !important;
    height: 55px !important;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem 0.875rem !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;

    &:hover {
        background-color: $background !important;
        opacity: 0.9;
    }

    &__itemsNum {
        font-size: 1rem !important;
        font-weight: 600;
    }
}
