@import "@/styles/variables.scss";

.sendInviteModal {
    max-height: 90%;
    .ant-modal-content {
        padding: 2rem !important;

        .ant-modal-close {
            margin: 1.2rem;
        }
    }

    &__title {
        margin-bottom: 0.5rem !important;
    }

    &__description {
        font-size: 0.875rem;
        font-weight: 400;
        color: #666666;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}
