@import "@styles/variables.scss";

.main {
    width: 90px;
    height: 100%;
    background-color: $white;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    padding-top: 4rem;
    position: relative;
    box-shadow: 7px 1px 5px 2px #f0f0f0;

    .logoContainer {
        display: flex;
        border: none;
        cursor: pointer;
        margin-bottom: 2rem;
        border: 1px solid transparent;
        transition: all 0.3s ease;
        border-radius: 8px;

        &__image {
            border-radius: inherit;
            width: 50px;
            height: 50px;
            object-fit: scale-down;
            background-color: $white;
        }

        &:hover {
            opacity: 0.9;
            border: 1px solid $black;
        }
    }

    .buttonMenu,
    .buttonExit {
        aspect-ratio: 1 / 1 !important;
        padding: 12px 6px;
    }
}

.mainLarge {
    width: 272px;
    height: 100%;
    background-color: $white;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    padding-top: 5rem;
    position: relative;
    box-shadow: 7px 1px 5px 2px #f0f0f0;
}

// Mobile menu wrapper styles
.mobileMenuWrapper {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 1px 25px 58px -29px #f0f0f0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    animation: slideInFromTop 250ms ease-out;
    border-top: 1px solid $light-gray;
    z-index: 50;
}

// Animation for mobile menu slide-in
@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .main {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        align-items: center;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0px 5px 16px -3px #f0f0f0;
        position: relative;

        .logoContainer {
            margin: 0;
        }
    }
}

@media (max-height: 1000px) and (max-width: 768px) {
    .main {
        max-height: 42px;
        padding: 6px 16px;
        align-content: center;
        .logoContainer {
            &__image {
                width: 25px;
                height: 25px;
            }
        }

        .buttonMenu,
        .buttonExit {
            padding: 4px 2px;
        }
    }
}
