@import "@styles/variables.scss";

.applyContainerTab {
    display: flex;
    flex-direction: column;

    &__header {
        // background-color: yellow !important;

        .save-btn {
            background-color: $secondary;
            box-shadow: none;
            color: $black;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
            height: 3rem;

            &:hover {
                color: $white;
                background-color: $secondary !important;
            }
        }

        .button__actions {
            padding: 0.75rem 1rem;
            background-color: $background;
            border: solid 1px transparent;
            font-weight: 600;
            display: flex;
            align-items: center;
            height: 3rem !important;
            font-size: 1rem;
        }
    }

    .iaButton {
        border-radius: 42px;
        height: 42px;
        background-color: $light-blue;
        border-color: #f0e7ff !important;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        box-shadow: none;

        &:hover {
            background-color: $light-blue !important;
            border-color: #af90e0 !important;
        }

        .textNormal {
            font-size: 0.875rem;
            font-weight: 400;
            color: #5b21b6;
            line-height: 16px;
            pointer-events: none;
        }
    }
}

.buttonActionApply {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #dddddd;
    padding: 0 0.5rem;
    border-radius: 8px;
    margin-left: 4px;
    color: #dddddd;
    background-color: $white;
    font-family: inherit;
    font-weight: 700;
    font-size: 0.75rem !important;
    cursor: inherit;
}

.sectionContainerTable {
    &__id {
        color: $link !important;
        text-decoration: underline;
        cursor: pointer;
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selectedRow {
        td {
            background-color: inherit !important;
        }
    }

    .negativeAdjustment {
        color: red;
    }

    .expirationText {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .table {
        border-collapse: collapse;
    }

    .column {
        border-right: 1px solid #dddddd !important;
        border-radius: 0 !important;
    }

    .ant-table-thead > tr > th {
        border: 1px solid #dddddd !important;
        border-radius: 0 !important;
        font-size: 1rem;
        text-align: center !important;
    }

    .ant-table-tbody > tr > td {
        border: 1px solid #dddddd !important;
        border-radius: 0 !important;
        font-size: 1rem;
        font-weight: 300;
    }

    .ant-table {
        border-radius: 0 !important;
    }

    .ant-table-container table {
        border-radius: 0 !important;
    }

    .ant-table-cell {
        padding: 0.5rem !important;
    }

    .ant-collapse-item {
        border: none !important;
    }

    .ant-table-measure-row {
        visibility: hidden !important;
        td {
            border: none !important;
        }
    }
    .ant-table-body {
        margin-top: -2px;
    }

    .dotsBtn {
        background-color: $background;
        border: 1px solid transparent;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 4px;
        margin-left: 1rem;

        &:hover {
            border: 1px solid $black;
            background-color: $background !important;
        }
    }
}

.dropdownApplicationTable {
    ul {
        background-color: $white !important;
    }

    li {
        &:hover {
            background-color: inherit !important;
            cursor: default !important;
        }
    }

    .buttonNoBorder {
        background-color: $background !important;
        border: none;
        width: 100%;
        justify-content: flex-start;

        &:hover {
            outline: 1px solid $black;
        }
    }
}
