@import "@/styles/variables.scss";

.modalBalanceLegalization {
    max-height: 90%;
    .ant-modal-content {
        padding: 1.5rem !important;

        .ant-modal-close {
            margin: 0rem;
        }
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__description {
        font-weight: 300;
    }

    &__adjustmentInfo {
        &__ncId {
            color: $link;
            text-decoration: underline;
        }
        &__devId {
            font-size: 0.75rem;
        }
    }

    &__invoiceId {
        font-size: 0.875rem;
        font-weight: 500;
        color: #1e8ff3;
    }

    &__selectAdjustment {
        height: 42px;
        width: 180px;
    }

    &__selectDropText {
        font-size: 0.75rem;

        &.-small {
            font-size: 0.625rem;
            color: #505962;
        }
    }

    .icon {
        color: $gray;
    }
}
