@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
  --card: 255 255 255;
  --card-foreground: 10 10 10;
  --popover: 255 255 255;
  --popover-foreground: 10 10 10;
  --primary: 24 24 27;
  --primary-foreground: 250 250 250;
  --secondary: 244 244 245;
  --secondary-foreground: 24 24 27;
  --muted: 244 244 245;
  --muted-foreground: 113 113 122;
  --accent: 244 244 245;
  --accent-foreground: 24 24 27;
  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;
  --border: 228 228 231;
  --input: 228 228 231;
  --ring: 161 161 170;
  /* Chart colors */
  --chart-1: 251 146 60; /* Orange */
  --chart-2: 56 189 248; /* Blue */
  --chart-3: 129 140 248; /* Purple */
  --chart-4: 132 204 22; /* Green */
  --chart-5: 245 158 11; /* Amber */

  /* Other values */
  --radius: 0.625rem;

  /* Sidebar colors */
  --sidebar: 250 250 250;
  --sidebar-foreground: 10 10 10;
  --sidebar-primary: 24 24 27;
  --sidebar-primary-foreground: 250 250 250;
  --sidebar-accent: 244 244 245;
  --sidebar-accent-foreground: 24 24 27;
  --sidebar-border: 228 228 231;
  --sidebar-ring: 161 161 170;
}
