@import "@styles/variables.scss";

.modalUploadIntakeFiles {
    .ant-modal-content {
        .ant-modal-close {
            margin-right: 15px;
            margin-top: 6px;
        }
    }

    .fileRow {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 16px 0;

        .label {
            display: flex;
            flex-direction: column;
            width: 80px;
            font-weight: 400;
            color: #141414;

            .opt {
                font-size: 12px;
            }
        }

        .documentButtonWrapper {
            flex: 1;
            min-width: 0;
        }
    }
}
