@import "@/styles/variables.scss";

.wrapper {
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a b"
        "c c c c";

    .card {
        border-radius: 8px;
        background-color: $background;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        justify-content: space-between;

        .list {
            height: 100%;
            display: flex;
            padding: 0 24px;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .dso {
        display: flex;
        padding: 0 24px;
        border-radius: 8px;
        align-items: center;
        background-color: #cbe71e;
        justify-content: space-between;

        .label {
            font-size: 40px;
            font-weight: 300;
            line-height: 60px;
        }

        .value {
            font-size: 48px;
            font-weight: 500;
            line-height: 72px;
            letter-spacing: -0.02em;
        }
    }

    .a {
        gap: 16px;
        grid-area: a;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }

    .b {
        gap: 16px;
        grid-area: b;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 100px;
    }

    .c {
        gap: 16px;
        grid-area: c;
        display: grid;
        grid-template-columns: calc(65% - 8px) calc(35% - 8px);
        grid-template-rows: 294px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "a a a"
            "b b b"
            "c c c";
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "a"
            "b"
            "c";
    }

    .a {
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .portfolioAges {
                grid-column: 1 / -1;
                order: 999;
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }

    .c {
        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
}
