@import "@styles/variables.scss";
.drawerComponentProviders {
    .ant-drawer-footer {
        border-top: 1px solid #eaeaea !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}
