@import "@/styles/variables.scss";

.pendingInvoiceDetail {
    padding: 24px 16px;

    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        color: $cashportMobileBlue;
        margin: 0;
        margin-bottom: 0.875rem;
    }

    .productCard {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        padding: 1rem 0;
    }

    &__divider {
        border: none;
        border-top: 1px solid $cashportMobileLightGray;
        background-color: transparent;
    }
}
