@import "@/styles/variables.scss";

// Base styles for select input client
.selectInputClientBase {
    height: 3rem !important;
    background-color: $background;
    border-radius: 0.25rem;
    font-size: 1rem !important;

    .ant-select-selector {
        font-size: 1rem !important;

        .ant-select-selection-search {
            font-weight: 300;
            font-size: 1rem;
        }

        .ant-select-selection-placeholder {
            color: $dark-gray;
            font-size: 1rem;
        }
    }
}

.selectInputClientCustom {
    @extend .selectInputClientBase;
    margin-bottom: 1rem;
    max-width: 450px;
}

.selectInputClientError {
    @extend .selectInputClientBase;
    border: 1px dashed red;
    margin-bottom: 0.2rem;
    padding: 0.45rem;
    font-weight: 300;
}

.selectDrop {
    background-color: $background !important;
    font-size: 1rem;

    .selectOptions {
        background-color: $background !important;
        border-top: 1px solid $white;
        padding: 0.7rem !important;
        font-size: 1rem !important;
        font-size: 1rem;
    }
}
