@import "@/styles/variables.scss";

.myPaymentsTab {
    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        color: $cashportMobileBlue;
        margin: 0;
    }

    &__reportButton {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 600;
        gap: 0.5rem;
        color: #ff5500;
        border: none;
        font-family: inherit;
        background-color: transparent;
        padding: 0.75rem 1rem;
    }

    &__seeMoreButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        color: $cashportMobileBlue;
        font-family: $font-poppins;
        font-size: 0.875rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;
    
        &:hover {
          text-decoration: underline;
        }
    }
}
