@import "@/styles/variables.scss";

.ordersView {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
    }

    .marketView {
        height: 100%;
        min-height: 0;
    }

    .cartButton {
        background-color: $black;
        color: $white;
        height: 55px !important;
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.5rem 1.5rem;

        &:hover {
            background-color: $black !important;
            color: $white !important;
            opacity: 0.9;
        }

        &__cart {
            position: relative;
            margin-top: 0.375rem;
        }

        &__itemsNum {
            position: absolute;
            top: -13px;
            font-size: 0.875rem;
            font-weight: 600;
            color: $secondary;
        }
    }

    // Comportamiento mobile
    @media (max-width: 768px) {
        .header {
            padding: 0 1rem;
        }
    }
}
