@import "@styles/variables.scss";

.mainCommunicationsTable {
    margin-top: 1rem;
    width: 100%;
    overflow-y: none;
    height: 100%;

    .communicationsTable {
        margin-top: 1rem;
    }

    .buttonEye {
        background-color: $dark-gray;

        &:hover {
            background-color: $dark-gray !important;
        }
    }

    .dotsBtn {
        background-color: $background;
        border: 1px solid transparent;
        aspect-ratio: 1/1;
        padding: 0;
        border-radius: 4px;

        &:hover {
            border: 1px solid $black;
            background-color: $background !important;
        }
    }
}

.dropdownCommunicationsTable {
    ul {
        background-color: $white !important;
    }

    li {
        &:hover {
            background-color: inherit !important;
            cursor: default !important;
        }
    }

    .ant-dropdown-menu-item {
        padding: 5px !important;
    }

    .buttonNoBorder {
        background-color: $background !important;
        border: none;
        width: 100%;
        justify-content: flex-start;

        &:hover {
            outline: 1px solid $black;
        }
    }
}
