.modalEnterProcess {
    min-width: 600px;
    max-width: 700px !important;
    width: 80% !important;
    /* ===== Valor seleccionado (truncado con ...) ===== */
    .ant-select-selector {
        width: 100% !important;
    }

    .ant-modal-content {
        padding: 0 !important;
    }

    &__modalBody {
        padding: 24px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__textArea {
        background: #f5f5f5;
        border: none;
        padding: 10px;
        border-radius: 6px;
    }

    .ant-select-selection-item,
    .ant-select-selection-placeholder {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }

    /* ===== Dropdown (opciones) ===== */
    .ant-select-dropdown {
        min-width: 100% !important;
        max-width: 100% !important;
    }

    .ant-select-item-option-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .contact-dropdown {
        display: flex;
        flex-direction: column;
    }

    .contact-main {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .contact-sub {
        font-size: 0.85rem;
        color: #555;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
