.modalCreateEditClient {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.75rem 0.5rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: inherit;
    border: none;
    padding: 0;
    box-shadow: none;
    width: fit-content;
    background-color: transparent;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    color: #5e5e5e;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }
}
