@import "@styles/variables.scss";

.ordersTable {
    th {
        font-size: 1rem;
        line-height: 18px;
    }
}

.ordersTable__childRow {
    background-color: rgba(249, 250, 251, 0.3);

    &:hover {
        background-color: rgba(249, 250, 251, 0.6) !important;
    }

    td:first-child {
        border-left: 2px solid #e5e7eb;
    }
}

.buttonSeeProject {
    background-color: $dark-gray !important;
    width: 32px !important;
    height: 32px !important;
    aspect-ratio: 1/1 !important;

    &:hover {
        background-color: $white !important;
    }
}
