@import "@/styles/variables";

.ant-cascader-menu {
    height: fit-content !important;
    max-height: 180px;
}

// Mobile Button Styles
.mobile-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px !important;
    background-color: $background !important;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    cursor: pointer;
    color: #a5a5a5;
    transition: all 0.3s;

    &:hover {
        border-color: #a5a5a5;
        box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.2);
    }

    &:focus {
        outline: 2px solid #131313 !important;
        box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.2);
    }
}

// Default (Desktop) Button Styles
.default-filter-button {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    max-width: 184px !important;
    width: 100%;
    height: 48px !important;
    background-color: transparent;
    border: 1px solid #a5a5a5 !important;
    border-radius: 8px;
    color: #9d9c9c !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    transition: all 0.3s;

    &:hover {
        border-color: #a5a5a5;
        box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.2);
    }

    &:focus {
        outline: 2px solid #131313 !important;
        box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.2);
    }
}
